<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Index Page </h1>

    <ul>
       <% for (i=0; i < Humans.length; i++) {%>
            <li> <%= Humans[i].name %> <%= Humans[i].job %>

            <form action="/humans/<%= i %>?_method=DELETE" method="POST">
                <button type="submit"> Delete </button>
            </form>
            <form action="/humans/<%= i %>/edit" method="GET">
                <button type="submit"> Edit</button>
            </form>
            </li>
        <% } %>
    </ul>

    <form action="/humans/new" method="GET">
        <button type="submit"> Create New </button>
    </form>

</body>
</html>